@model WebApp.Models.TrabajadorCategoriaPlanillaModel
@Scripts.Render("~/bundles/jqueryval")

@using (Ajax.BeginForm((string)ViewBag.Action, "Trabajadores", new { area = "" }, new AjaxOptions
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "div_msg",
    OnBegin = "Load",
    OnComplete = "Stop"
}))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.trabajadorID)
    @Html.HiddenFor(model => model.trabajadorCategoriaPlanillaID)

    <div class="form-row">
        <div class="col-6">
            <div class="form-group">
                @Html.LabelFor(model => model.categoriaPlanillaID, new { @class = "control-label" })
                @Html.DropDownListFor(model => model.categoriaPlanillaID, ViewBag.ListaCategoriasPlanillas as SelectList, "[ SELECCIONAR ]", new { @class = "form-control text-uppercase" })
                @Html.ValidationMessageFor(model => model.categoriaPlanillaID, null, new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                @Html.LabelFor(model => model.grupoTrabajoID, new { @class = "control-label" })
                @Html.DropDownListFor(model => model.grupoTrabajoID, ViewBag.ListaGruposTrabajo as SelectList, "[ SELECCIONAR ]", new { @class = "form-control text-uppercase select-filter-modal" })
                @Html.ValidationMessageFor(model => model.grupoTrabajoID, null, new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="col-6">
            <div class="form-group">
                @Html.LabelFor(model => model.dependenciaID, new { @class = "control-label" })
                @Html.DropDownListFor(model => model.dependenciaID, ViewBag.ListaDependencias as SelectList, "[ SELECCIONAR ]", new { @class = "form-control text-uppercase select-filter-modal" })
                @Html.ValidationMessageFor(model => model.dependenciaID, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-6" id="divJefatura">
            <label class="control-label">¿Tiene cargo?</label>
            <br />
            <div class="form-check form-check-inline">
                @Html.RadioButtonFor(x => x.esJefe, true, new { @id = "esJefe1", @class="form-check-input" })
                <label class="form-check-label" for="esJefe1">Sí</label>
            </div>
            <div class="form-check form-check-inline">
                @Html.RadioButtonFor(x => x.esJefe, false, new { @id = "esJefe2", @class = "form-check-input" })
                <label class="form-check-label" for="esJefe2">No</label>
            </div>
        </div>
    </div>

    <div class="row d-flex justify-content-center">
        <button type="submit" class="btn btn-primary center" id="btnsubmit"><i class="fa fa-save"></i> Guardar</button>
    </div>
}

<div class="modal-footer mt-4" id="div_msg">
    <a href="@Url.Action("CategoriasPlanillaAsignadas","Trabajadores", new { id = Model.trabajadorID })" class="btn btn-outline-primary" id="btn-return">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;Volver a la lista
    </a>
    <button type="button" class="btn btn-secondary" id="btnCancel" data-dismiss="modal"><i class="fa fa-times-circle-o"></i>&nbsp;Cerrar</button>
</div>

<script type="text/javascript">
    $(function () {
        $('#content-body').on('click', '#btn-return', function (event) {
            event.preventDefault();

            let url = $(event.currentTarget).attr("href");

            loadForm(url, "cargando formulario...");
        });

        $('#content-body #grupoTrabajoID').select2({
            theme: 'bootstrap4',
            dropdownParent: $('#modal-container-lg')
        }).on('hide', function (e) {
            e.stopPropagation();
        });

        $('#content-body #dependenciaID').select2({
            theme: 'bootstrap4',
            dropdownParent: $('#modal-container-lg')
        }).on('hide', function (e) {
            e.stopPropagation();
        });

        @if (!Model.esJefe)
        {
            <text>MostrarJefatura(@Model.categoriaPlanillaID);</text>
        }

        $('#content-body').on('change', '#categoriaPlanillaID', function () {
            MostrarJefatura($(this).val());
        });
    });

    function loadForm(url, message) {
        $('#load-message').html(message);

        $('#content-body').hide();
        $('#spin-loader').show();

        let modal = $('#modal-container-lg');

        setTimeout(function () {
            modal.find('.modal-content').load(url)
        }, 600);
    }

    function MostrarJefatura(categoriaPlanillaID) {
        console.log('categoriaPlanillaID=' + categoriaPlanillaID);
        if (categoriaPlanillaID == 9) {
            $('#divJefatura').css("display", "block");
        } else {
            $('#divJefatura').css("display", "none");
            $('#esJefe1').prop("checked", false);
            $('#esJefe2').prop("checked", true);
        }
    }
</script>
