@Styles.Render("~/content/fileinput")
@Scripts.Render("~/bundles/fileinput")

<div class="container-fluid">
    <div class="col-12 mb-4">
        <section class="content-header">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb float-right small d-none d-sm-inline-flex">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")"><i class="fa fa-home">&nbsp;</i>Inicio</a></li>
                    <li class="breadcrumb-item"><span><i class="fa fa-refresh">&nbsp;</i>Operaciones </span></li>
                    <li class="breadcrumb-item active"><span><i class="fa fa-users">&nbsp;</i>@ViewBag.Title </span></li>
                </ol>
            </nav>
            <h1 class="">@ViewBag.Title <small></small></h1>
        </section>
    </div>

    <div class="card mb-4">
        <div class="card-header">
            <span class="h4">Trabajadores</span>
            <a href="@Url.Action("CargaMasiva", "Trabajadores")" class="btn btn-primary pull-right modal-link-xl ml-3">
                <i class="fa fa-cloud-upload" aria-hidden="true"></i> Carga masiva
            </a>
            <a href="@Url.Action("Nuevo", "Trabajadores")" class="btn btn-primary pull-right modal-link-lg">
                <i class="fa fa-user-plus" aria-hidden="true"></i> Nuevo trabajador
            </a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover" id="dataTableTrabajadores" width="100%">
                    <thead class="thead-dark">
                        <tr>
                            <th>Cod.Per.</th>
                            <th>Tip.Doc.</th>
                            <th>Num.Doc.</th>
                            <th>Apellidos y Nombres</th>
                            <th>Dependencia</th>
                            <th>Fech.Ingreso</th>
                            <th>Régimen</th>
                            <th>Vínculo</th>
                            <th>Estado</th>
                            <th></th>
                            @*<th></th>*@
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Cod.Per.</th>
                            <th>Tip.Doc.</th>
                            <th>Num.Doc.</th>
                            <th>Apellidos y Nombres</th>
                            <th>Dependencia</th>
                            <th>Fech.Ingreso</th>
                            <th>Régimen</th>
                            <th>Vínculo</th>
                            <th>Estado</th>
                            <th></th>
                            @*<th></th>*@
                        </tr>
                    </tfoot>
                </table>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <a href="@Url.Action("DescargarListaTrabajadores", "Trabajadores")" class="btn btn-link pl-0">Descargar información en Excel [.xlsx]</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        var modalActivo = null;

        $(document).ready(function () {
            generarDataTableTrabajadores();

            $(".modal").on('hide.bs.modal', function () {
                generarDataTableTrabajadores();
            });
        });

        function generarDataTableTrabajadores() {
            $('#dataTableTrabajadores').DataTable({
                ajax: {
                    'url': '@Url.Action("ObtenerListaTrabajadores", "Trabajadores")',
                    'type': 'get'
                },
                columns: [
                    { data: 'trabajadorCod' },
                    { data: 'tipoDocumentoDesc' },
                    { data: 'numDocumento' },
                    { data: 'apellidosNombre' },
                    { data: 'dependenciaDesc' },
                    { data: 'fechaIngresoFormat' },
                    { data: 'regimenDesc' },
                    { data: 'vinculoDesc' },
                    { data: 'estadoDesc' },
                    /*{ data: 'trabajadorID' },*/
                    { data: 'trabajadorID' }
                ],
                columnDefs: [
                    {
                        targets: -1,
                        className: "text-center",
                        orderable: false,
                        render: function (data, type, row) {
                            return `<a class="modal-link-lg" href="@Url.Action("Editar", "Trabajadores")/${data}` +
                                '" title="Editar"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>';
                        }
                    }
                    @*{
                        targets: -1,
                        className: "text-center",
                        orderable: false,
                        render: function (data, type, row) {
                            return `<a class="modal-link-xl" href="@Url.Action("CategoriasPlanillaAsignadas", "TrabajadorCategoriaPlanilla")/${data}` +
                                '" title="Agregar a otra planilla"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>';
                        }
                    }*@
                ],
                bStateSave: true,
                bDestroy: true,
                lengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "Todas"]],
                iDisplayLength: 10,
                language: {
                    search: "Buscar: ",
                    lengthMenu: "Mostrar _MENU_ filas",
                    info: "Mostrando del _START_ al _END_ de _TOTAL_ elementos.",
                    infoEmpty: "No se encontraron registros.",
                    zeroRecords: "No hay data disponible.",
                    emptyTable: "No hay data disponible.",
                    paginate: {
                        first: "Primero",
                        previous: "Previo",
                        next: "Siguiente",
                        last: "Último"
                    },
                    aria: {
                        sortAscending: ": activar para ordenar la columna en orden ascendente",
                        sortDescending: ": activar para ordenar la columna en orden descendente"
                    },
                    loadingRecords: "Cargando...",
                    processing: "Procesando..."
                },
                searching: true,
                initComplete: function () {
                    this.api().columns([7]).every(function () {
                        let column = this;

                        let select = document.createElement('select');
                        select.add(new Option('Vínculo', ''));
                        column.footer().replaceChildren(select);

                        select.addEventListener('change', function () {
                            var val = $.fn.dataTable.util.escapeRegex(select.value);
                            column.search(val ? '^' + val + '$' : '', true, false).draw();
                        });

                        column.data().unique().sort().each(function (d, j) {
                            if (column.search() === '^' + d + '$') {
                                select.add(new Option(d, d, true, true));
                            } else {
                                select.add(new Option(d, d));
                            }
                        });

                        $(select).click(function (e) {
                            e.stopPropagation();
                        });
                    });
                }
            });
        }
    </script>
}