
<div class="main-sidebar">
    <ul class="nav side-nav">
        <li class="nav-item"><a href="@Url.Action("Index", "Home")" class="nav-link"><i class="fa fa-fw fa-home"></i> Dashboard</a></li>
        @if (User.IsInRole("Administrador") || User.IsInRole("Consulta") || User.IsInRole("Remuneraciones"))
        {
            <li class="nav-item">
                <a href="javascript:;" class="nav-link" data-toggle="collapse" data-target="#inquiries">
                    <i class="fa fa-fw fa-search"></i> Consultas<span class="pull-right"><i class="fa fa-fw fa-caret-down"></i></span>
                </a>
                <ul id="inquiries" class="collapse">
                    @*<li><a href="@Url.Action("Index", "EstadosCuenta")"><i class="fa fa-fw fa-tasks"></i>&nbsp; Estados de cuenta</a></li>*@
                    @*<li><a href="@Url.Action("Index", "Pagos", new { anio = DateTime.Now.Year })"><i class="fa fa-fw fa-database"></i>&nbsp; Pagos registrados</a></li>*@
                    @*<li><a href="@Url.Action("Index", "Deudas")"><i class="fa fa-fw bi-receipt-cutoff"></i>&nbsp; Deudas registradas</a></li>*@
                    @*<li><a href="@Url.Action("Generar", "Obligaciones")"><i class="fa fa-fw fa-th-large"></i>&nbsp; Consolidado por clasificador</a></li>*@
                    <li><a href="@Url.Action("Consulta", "Estudiantes")"><i class="fa bi-person-lines-fill"></i>&nbsp; Consulta estudiantes</a></li>
                    <li><a href="@Url.Action("ListarPagosBancoObligaciones", "EstadosCuenta")"><i class="fa fa-bank"></i>&nbsp; Consulta Ingresos de Obligaciones</a></li>
                    <li><a href="@Url.Action("ReportesPagoObligaciones", "EstadosCuenta")"><i class="fa fa-fw fa-tasks"></i>&nbsp; Reporte Pago de Obligaciones</a></li>
                    <li><a href="@Url.Action("ResumenAnualObligacionesPorDia", "EstadosCuenta")"><i class="fa fa-bank"></i>&nbsp; Resumen Ingresos de Obligaciones</a></li>
                    @*<li><a href="@Url.Action("ResumenAnualObligacionesPorClasificadores", "EstadosCuenta")"><i class="fa fa-fw fa-tasks"></i>&nbsp; Resumen Clasificadores (Obligaciones)</a></li>
                    <li><a href="@Url.Action("ResumenAnualObligacionesPorDependencias", "EstadosCuenta")"><i class="fa fa-fw fa-tasks"></i>&nbsp; Resumen Dependencias (Obligaciones)</a></li>*@
                    <li><a href="@Url.Action("Consulta", "EstadosCuentaTasas")"><i class="fa bi-person-lines-fill"></i>&nbsp; Consulta pago tasas</a></li>
                </ul>
            </li>
        }

        @if (User.IsInRole("Administrador") || User.IsInRole("Remuneraciones"))
        {
            <li class="nav-item">
                <a href="javascript:;" class="nav-link" data-toggle="collapse" data-target="#operations">
                    <i class="fa fa-fw fa-refresh"></i> Operaciones<span class="pull-right"><i class="fa fa-fw fa-caret-down"></i></span>
                </a>
                <ul id="operations" class="collapse">
                    <li><a href="@Url.Action("Index", "Estudiantes")"><i class="fa fa-fw fa-user-plus"></i>&nbsp; Carga de alumnos</a></li>
                    <li><a href="@Url.Action("Generar", "Obligaciones")"><i class="fa fa-fw bi-person-lines-fill"></i>&nbsp; Generar obligaciones</a></li>
                    <li><a href="@Url.Action("ConsultaGeneracionObligaciones", "Obligaciones")"><i class="fa fa-fw bi-stack"></i>&nbsp; Gestión obligaciones</a></li>
                    <li><a href="@Url.Action("ExportarDatosPago", "Pagos")"><i class="fa fa-file" style="font-weight:600"></i>&nbsp; Generar archivos de pago</a></li>
                    <li><a href="@Url.Action("ImportarPagoObligaciones", "Pagos")"><i class="fa fa-fw bi-journal-arrow-up"></i>&nbsp; Cargar pago obligaciones</a></li>
                    <li><a href="@Url.Action("ImportarPagoTasas", "Pagos")"><i class="fa fa-fw bi-sort-up-alt"></i>&nbsp; Cargar pago tasas</a></li>
                    @*<li><a href="@Url.Action("Actualizar", "Pagos")"><i class="fa fa-fw bi-safe-fill"></i>&nbsp; Actualizar pagos</a></li>*@
                    <li><a href="@Url.Action("Index", "Devoluciones" )"><i class="fa fa-fw bi-box-arrow-down-right"></i>&nbsp; Devolución de pagos</a></li>
                    <li><a href="@Url.Action("ExportarRecaudacionTemporal", "Pagos")"><i class="fa fa-fw bi-file-binary-fill"></i>&nbsp; Exportar al Temporal de Pagos</a></li>
                </ul>
            </li>

            <li class="nav-item">
                <a href="javascript:;" class="nav-link" data-toggle="collapse" data-target="#settings">
                    <i class="fa fa-fw fa-cogs"></i> Configuración<span class="pull-right"><i class="fa fa-fw fa-caret-down"></i></span>
                </a>
                <ul id="settings" class="collapse">
                    <li><a href="@Url.Action("Obligaciones", "Procesos" )"><i class="fa fa-fw bi-stack"></i>&nbsp; Cuota de pago y conceptos</a></li>
                    <li><a href="@Url.Action("Tasas", "Tasa" )"><i class="fa fa-fw fa-percent"></i>&nbsp; Tasas y servicios</a></li>
                </ul>
            </li>

            if (User.IsInRole("Administrador") || User.IsInRole("Remuneraciones"))
            {

                <li class="nav-item">
                    <a href="javascript:;" class="nav-link" data-toggle="collapse" data-target="#maintenance">
                        <i class="fa fa-fw bi-tools"></i> Mantenimiento<span class="pull-right"><i class="fa fa-fw fa-caret-down"></i></span>
                    </a>
                    <ul id="maintenance" class="collapse">
                        <li class="dropdown-header">Plantillas</li>
                        <li><a href="@Url.Action("Index", "CategoriaPago")"><i class="fa fa-fw bi-grid-1x2-fill"></i>&nbsp; Cuotas de pago</a></li>
                        @if (User.IsInRole("Administrador"))
                        {
                            <li class="dropdown-header">Recaudación</li>
                            <li><a href="@Url.Action("Index", "Clasificadores")"><i class="fa fa-fw bi-bar-chart-steps"></i>&nbsp; Clasificadores de ingreso</a></li>
                            <li><a href="@Url.Action("Index", "EntidadRecaudadora")"><i class="fa fa-fw bi-cash-coin"></i>&nbsp; Entidades recaudadoras</a></li>
                            <li><a href="@Url.Action("Index", "CuentaDeposito")"><i class="fa fa-fw fa-credit-card"></i>&nbsp; Números de cuenta</a></li>
                            <li><a href="@Url.Action("Index", "EstructuraArchivo")"><i class="fa fa-fw fa-copy"></i>&nbsp; Archivos de intercambio</a></li>

                            <li class="dropdown-header">Aplicación</li>
                            <li><a href="@Url.Action("Index", "Correo")"><i class="fa fa-fw fa-envelope"></i>&nbsp; Correo de aplicación </a></li>
                            <li><a href="@Url.Action("Index", "Dependencia")"><i class="fa fa-fw bi-building"></i>&nbsp; Dependencias</a></li>
                            <li><a href="@Url.Action("Index", "Users")"><i class="fa fa-fw fa-users"></i>&nbsp; Usuarios </a></li>
                            <li><a href="@Url.Action("CamposTabla", "EstructuraArchivo")"><i class="fa fa-fw fa-columns"></i>&nbsp; Campos de tabla</a></li>
                            <li><a href="@Url.Action("Manage", "HelpCenter")"><i class="fa fa-fw fa-bookmark"></i>&nbsp; Documentación </a></li>
                        }
                    </ul>
                </li>
            }
        }
        <li class="nav-item">
            <a href="javascript:;" class="nav-link" data-toggle="collapse" data-target="#help">
                <i class="fa fa-fw fa-life-ring"></i> Ayuda<span class="pull-right"><i class="fa fa-fw fa-caret-down"></i></span>
            </a>
            <ul id="help" class="collapse">
                <li><a href="@Url.Action("Manual", "HelpCenter")"><i class="fa fa-fw fa-book"></i>&nbsp; Manual de usuario</a></li>
            </ul>
        </li>
    </ul>
</div>

<div class="hidden-sidebar">
    <ul class="nav hidden-side-nav hdn-sidebar">
        <li class="nav-item">
            <a href="javascript:;" class="nav-link" data-toggle="collapse" title="Dashboard">
                <i class="fa fa-3x fa-home"></i><br />Dashboard
            </a>
        </li>
        @if (User.IsInRole("Administrador") || User.IsInRole("Consulta"))
        {
            <li class="nav-item">
                <a href="javascript:;" class="nav-link" data-toggle="collapse" title="Consultas" data-target="#inquiries">
                    <i class="fa fa-3x fa-search"></i><br />Consultas
                </a>
            </li>
        }

        @if (User.IsInRole("Administrador"))
        {
            <li class="nav-item">
                <a href="javascript:;" class="nav-link" data-toggle="collapse" title="Operaciones" data-target="#operations">
                    <i class="fa fa-3x fa-refresh"></i><br />Operaciones
                </a>
            </li>
            <li class="nav-item">
                <a href="javascript:;" class="nav-link" data-toggle="collapse" title="Configuración" data-target="#settings">
                    <i class="fa fa-3x fa-fw fa-cogs"></i><br />Configuración
                </a>
            </li>
            <li class="nav-item">
                <a href="javascript:;" class="nav-link" data-toggle="collapse" title="Configuración" data-target="#maintenance">
                    <i class="fa fa-3x fa-fw bi-tools"></i><br />Mantenimiento
                </a>
            </li>
        }
        <li class="nav-item">
            <a href="javascript:;" class="nav-link" data-toggle="collapse" title="Ayuda" data-target="#help">
                <i class="fa fa-3x fa-life-ring"></i><br />Ayuda
            </a>
        </li>
    </ul>
</div>

