
<div class="main-sidebar">
    <ul class="nav side-nav">
        <li class="nav-item"><a href="@Url.Action("Index", "Home")" class="nav-link"><i class="fa fa-fw fa-home"></i> Dashboard</a></li>
        <li class="nav-item">
            <a href="javascript:;" class="nav-link" data-toggle="collapse" data-target="#operations">
                <i class="fa fa-fw fa-refresh"></i> Operaciones<span class="pull-right"><i class="fa fa-fw fa-caret-down"></i></span>
            </a>
            <ul id="operations" class="collapse">
                <li><a href="@Url.Action("Index", "Trabajadores")"><i class="fa fa-users"></i> Gestión trabajadores</a></li>
            </ul>
            <ul id="operations" class="collapse">
                <li><a href="@Url.Action("Index", "ValoresExternos")"><i class="fa fa-cloud-upload"></i> Cargar información externa</a></li>
            </ul>
            <ul id="operations" class="collapse">
                <li><a href="@Url.Action("Mantenimiento", "ValoresExternos")"><i class="fa bi-stack"></i> Mantenimiento información externa</a></li>
            </ul>
            <ul id="operations" class="collapse">
                <li><a href="@Url.Action("Generar", "Planillas")"><i class="fa fa-table"></i> Generar planillas</a></li>
            </ul>
        </li>
        <li class="nav-item">
            <a href="javascript:;" class="nav-link" data-toggle="collapse" data-target="#reports">
                <i class="fa fa-fw fa-bar-chart"></i> Reportes<span class="pull-right"><i class="fa fa-fw fa-caret-down"></i></span>
            </a>
            <ul id="reports" class="collapse">
                <li><a href="@Url.Action("Index", "Planillas")"><i class="fa fa-table"></i> Planillas generadas</a></li>
            </ul>
        </li>
        <li class="nav-item">
            <a href="javascript:;" class="nav-link" data-toggle="collapse" data-target="#configurations">
                <i class="fa fa-fw fa-cogs"></i> Configuración<span class="pull-right"><i class="fa fa-fw fa-caret-down"></i></span>
            </a>
            <ul id="configurations" class="collapse">
                <li><a href="@Url.Action("Index", "PlantillaPlanilla")"><i class="fa bi-ui-checks"></i> Plantilla</a></li>
                <li><a href="@Url.Action("Index", "Users")"><i class="fa fa-users"></i> Usuarios</a></li>
            </ul>
        </li>
        <li class="nav-item">
            <a href="javascript:;" class="nav-link" data-toggle="collapse" data-target="#help">
                <i class="fa fa-fw fa-life-ring"></i> Ayuda<span class="pull-right"><i class="fa fa-fw fa-caret-down"></i></span>
            </a>
            <ul id="help" class="collapse">
                <li><a href="@Url.Action("Manual", "HelpCenter")"><i class="fa fa-book"></i> Manual de usuario</a></li>
            </ul>
        </li>
    </ul>
</div>

<div class="hidden-sidebar">
    <ul class="nav hidden-side-nav hdn-sidebar">
        <li class="nav-item">
            <a href="javascript:;" class="nav-link" data-toggle="collapse" title="Dashboard">
                <i class="fa fa-3x fa-home"></i><br />Dashboard
            </a>
        </li>
        <li class="nav-item">
            <a href="javascript:;" class="nav-link" data-toggle="collapse" title="Operaciones" data-target="#operations">
                <i class="fa fa-3x fa-refresh"></i><br />Operaciones
            </a>
        </li>
        <li class="nav-item">
            <a href="javascript:;" class="nav-link" data-toggle="collapse" title="Consultas" data-target="#reports">
                <i class="fa fa-3x fa-bar-chart"></i><br />Reportes
            </a>
        </li>
        <li class="nav-item">
            <a href="javascript:;" class="nav-link" data-toggle="collapse" title="Consultas" data-target="#configurations">
                <i class="fa fa-3x fa-cogs"></i><br />Configuración
            </a>
        </li>
        <li class="nav-item">
            <a href="javascript:;" class="nav-link" data-toggle="collapse" title="Ayuda" data-target="#help">
                <i class="fa fa-3x fa-life-ring"></i><br />Ayuda
            </a>
        </li>
    </ul>
</div>

