@Styles.Render("~/content/fileinput")
@Scripts.Render("~/bundles/fileinput")

<div class="container-fluid">
    <div class="col-12 mb-4">
        <section class="content-header">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb float-right small d-none d-sm-inline-flex">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")"><i class="fa fa-home" aria-hidden="true">&nbsp;</i>Inicio</a></li>
                    <li class="breadcrumb-item"><span><i class="fa fa-refresh" aria-hidden="true">&nbsp;</i>Operaciones </span></li>
                    <li class="breadcrumb-item active"><span><i class="fa fa-cloud-upload" aria-hidden="true">&nbsp;</i>@ViewBag.Title </span></li>
                </ol>
            </nav>
            <h1 class="">@ViewBag.Title <small></small></h1>
        </section>
    </div>

    <div class="card mb-4">
        <div class="card-header">
            <span class="h4">Archivo externo</span>
        </div>
        <div class="card-body">
            @using (Html.BeginForm("ObtenerInformacionArchivo", "ValoresExternos", FormMethod.Post, 
                new { id = "form-upload", enctype = "multipart/form-data", @class = "form-inline" }))
            {
                <form id="form-upload" name="form-upload" class="form-inline" enctype="multipart/form-data">
                    <div class="form-group mr-2">
                        <label class="control-label" for="inputFile">Seleccione archivo</label>
                        <input type="file" class="form-control-file" id="inputFile" name="inputFile" />
                    </div>
                    <div class="form-group mr-2">
                        @Html.AntiForgeryToken()
                        <button type="submit" id="btn-submit" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i> Leer archivo</button>
                        <div id="wating-section" class="d-none">
                            <strong>Cargando información...</strong>
                            <div class="spinner-border ml-auto text-primary" role="status" aria-hidden="true"></div>
                        </div>
                    </div>
                </form>
            }
            <div class="form-group" id="error-matricula"></div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            @using (Html.BeginForm("GuardarInformacion", "ValoresExternos", FormMethod.Post,
                new {id = "form-register" }))
            {
                @Html.AntiForgeryToken()
                <span class="h4">Vista previa</span>
                <input type="hidden" id="fileName" name="fileName" />
                <button class="btn btn-primary pull-right">
                    <i class="fa fa-save" aria-hidden="true"></i> Guardar información
                </button>
            }
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover" id="dataTableValoresExternos" width="100%">
                    <thead class="thead-dark">
                        <tr>
                            <th></th>
                            <th>anio</th>
                            <th>mes</th>
                            <th>tipoDocumentoID</th>
                            <th>numDocumento</th>
                            <th>nombres completos</th>
                            <th>conceptoCod</th>
                            <th>conceptoDesc</th>
                            <th>valorConcepto</th>
                            <th>proveedorID</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th></th>
                            <th>anio</th>
                            <th>mes</th>
                            <th>tipoDocumentoID</th>
                            <th>numDocumento</th>
                            <th>nombres completos</th>
                            <th>conceptoCod</th>
                            <th>conceptoDesc</th>
                            <th>valorConcepto</th>
                            <th>proveedorID</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            generarDatatableValoresExternos([]);

            $("#inputFile").fileinput({
                showCaption: true,
                dropZoneEnabled: false,
                language: 'es',
                allowedFileExtensions: ["xls", "xlsx"],
                showPreview: false,
                showUpload: false,
                elErrorContainer: '#error-matricula'
            });

            $('#form-upload').on('submit', function (event) {
                event.preventDefault();
                var form = $(this);

                form.ajaxSubmit({
                    cache: false,
                    url: form.attr("action"),
                    type: "POST",
                    processData: false,
                    dataType: "json",
                    beforeSend: function () {
                        generarDatatableValoresExternos([]);
                        $("#fileName").val("");
                        $("#btn-submit").addClass("d-none");
                        $("#wating-section").removeClass("d-none");
                    },
                    success: function (result) {
                        if (result.success) {
                            $("#fileName").val(result.data.Item1);
                            generarDatatableValoresExternos(result.data.Item2);
                        } else {
                            toastr.error(result.message);
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        toastr.error(errorThrown);
                    },
                    complete: function () {
                        $("#btn-submit").removeClass("d-none");
                        $("#wating-section").addClass("d-none");
                    }
                });
            });

            $('#form-register').on('submit', function (event) {
                event.preventDefault();
                var form = $(this);

                form.ajaxSubmit({
                    cache: false,
                    url: form.attr("action"),
                    type: "POST",
                    processData: false,
                    dataType: "json",
                    beforeSend: function () {
                    },
                    success: function (result) {
                        if (result.success) {
                            generarDatatableValoresExternos([]);
                            toastr.success(result.message);
                        } else {
                            toastr.error(result.message);
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        toastr.error(errorThrown);
                    },
                    complete: function () {
                    }
                });
            })

            $('#dataTableValoresExternos').DataTable().on('order.dt search.dt', function () {
                $('#dataTableValoresExternos').DataTable().column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                });
            });
        });

        function generarDatatableValoresExternos(jsonObject) {
            $('#dataTableValoresExternos').DataTable({
                data: jsonObject,
                columns: [
                    { data: 'numDocumento' },
                    { data: 'anio' },
                    { data: 'mes' },
                    { data: 'tipoDocumentoID' },
                    { data: 'numDocumento' },
                    { data: 'datosPersona' },
                    { data: 'conceptoCod' },
                    { data: 'conceptoDesc' },
                    { data: 'valorConcepto' },
                    { data: 'proveedorID' }
                ],
                columnDefs: [
                    {
                        targets: 2,
                        render: function (data, type, row) {
                            return row.mesDesc + ' (' + row.mes + ')';
                        }
                    },
                    {
                        targets: 3,
                        render: function (data, type, row) {
                            return row.tipoDocumentoDesc + ' (' + row.tipoDocumentoID + ')';
                        }
                    },
                    {
                        targets: 9,
                        render: function (data, type, row) {
                            return row.proveedorDesc + ' (' + row.proveedorID + ')';
                        }
                    }
                ],
                bStateSave: false,
                bDestroy: true,
                lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todas"]],
                iDisplayLength: 10,
                language: {
                    search: "Buscar: ",
                    lengthMenu: "Mostrar _MENU_ filas",
                    info: "Mostrando del _START_ al _END_ de _TOTAL_ elementos.",
                    infoEmpty: "No se encontraron registros.",
                    zeroRecords: "No hay data disponible.",
                    emptyTable: "No hay data disponible.",
                    paginate: {
                        first: "Primero",
                        previous: "Previo",
                        next: "Siguiente",
                        last: "Último"
                    },
                    aria: {
                        sortAscending: ": activar para ordenar la columna en orden ascendente",
                        sortDescending: ": activar para ordenar la columna en orden descendente"
                    },
                    loadingRecords: "Cargando...",
                    processing: "Procesando..."
                },
                searching: true
            });
        }
    </script>
}
