@model WebApp.Models.TrabajadorConPlanillaModel

@{ 
    var planilla = (WebApp.Models.CategoriaPlanillaGeneradaParaTrabajadorModel)ViewBag.InformacionCategoriaPlanillaGenerada;
    var conceptos = (IEnumerable<WebApp.Models.ConceptoGeneradoModel>)ViewBag.ConceptosGenerados;
}

<div class="modal-header bg-dark-gray" style="border-radius: .2rem .2rem 0px 0px">
    <h5 class="modal-title text-center"><i class="fa fa-tag"></i>&nbsp;@ViewBag.Title</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div>

<div class="modal-body">
    <div class="container-fluid mb-4">
        <dl class="row">
            <dt class="col-sm-3">Código de trabajador</dt>
            <dd class="col-sm-9">@Model.apellidosNombre</dd>

            <dt class="col-sm-3">Tip. doc. identidad</dt>
            <dd class="col-sm-9">@Model.tipoDocumentoDesc</dd>

            <dt class="col-sm-3">Num. doc. identidad</dt>
            <dd class="col-sm-9">@Model.numDocumento</dd>

            <dt class="col-sm-3">Estado</dt>
            <dd class="col-sm-9">@Model.estadoDesc</dd>

            <dt class="col-sm-3">Vínculo</dt>
            <dd class="col-sm-9">@Model.vinculoDesc</dd>
        </dl>

        <hr />

        <dl class="row">
            <dt class="col-sm-3">Planilla</dt>
            <dd class="col-sm-9">@Html.DropDownList("cmbCategorias", ViewBag.ListaCategorias as SelectList, new { @class = "form-control text-uppercase" })</dd>

            <dt class="col-sm-3">Tipo planilla</dt>
            <dd class="col-sm-9">@planilla.tipoPlanillaDesc</dd>

            <dt class="col-sm-3">Clase planilla</dt>
            <dd class="col-sm-9">@planilla.clasePlanillaDesc</dd>

            <dt class="col-sm-3">Dependencia</dt>
            <dd class="col-sm-9">@planilla.dependenciaDesc</dd>
        </dl>
    </div>
    <div class="container-fluid" id="spin-loader" style="display:none;">
        <div class="d-flex justify-content-center">
            <div class="spinner-border text-info" role="status" style="width: 5rem; height: 5rem;">
                <span class="sr-only">Cargando...</span>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <span id="load-message" class="h5 mt-4"></span>
        </div>
    </div>
    <div class="container-fluid" id="content-body">
        <div class="table-responsive mb-4">
            <table class="table table-sm table-hover" id="dataTableConceptosAsignados" width="100%">
                <thead class="thead-dark">
                    <tr>
                        <th class="text-center" colspan="2">RUBROS</th>
                        <th class="text-center">IMPORTES</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var tipoConcepto in conceptos.GroupBy(x => new { x.tipoConceptoID, x.tipoConceptoDesc }))
                    {
                        <tr>
                            <th colspan="2">TOTAL @tipoConcepto.Key.tipoConceptoDesc</th>
                            <th class="text-right">@planilla.ObtenerTotal((Domain.Enums.TipoConcepto)tipoConcepto.Key.tipoConceptoID)</th>
                        </tr>
                        foreach (var concepto in tipoConcepto)
                        {
                            <tr>
                                <td>@concepto.conceptoCod</td>
                                <td>@concepto.conceptoDesc</td>
                                <td class="text-right">@concepto.montoFormateado</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
    modalActivo = null;

    $('.modal-body').on('change', '#cmbCategorias', function (event) {
        event.preventDefault();

        let parametros = {
            trabajadorID: @Model.trabajadorID,
            trabajadorPlanillaID: this.value,
            anio: @planilla.año,
            mes: @planilla.mes
        };

         $.ajax({
             url: '@Url.Action("ObtenerInformacionCategoriaPlanillaGenerada", "Reportes")',
             type: "GET",
             data: parametros,
             beforeSend: function () {
                 //$('#content-body').hide();
                 //$('#spin-loader').show();
             },
             success: function (data) {
                 console.log(data);
                 //$('#content-body').show();
                 //$('#spin-loader').hide();

                 //if (data.Success) {
                 //    mostrarMensajeSistema(data.Message, MENSAJE.SUCCESS);
                 //    generarDatatableConceptosAsignados();
                 //} else {
                 //    mostrarMensajeSistema(data.Message, MENSAJE.ERROR);
                 //}
             },
             error: function (jqXHR, textStatus, errorThrown) {
                 //$('#content-body').html('<p class="alert alert-danger">' + jqXHR.responseText + '</p>');
                 //$('#spin-loader').hide();
                 //$('#content-body').show();
             }
         });
    });
</script>
