<div class="container-fluid">
    <div class="col-12 mb-4">
        <section class="content-header">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb float-right small d-none d-sm-inline-flex">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")"><i class="fa fa-home">&nbsp;</i>Inicio</a></li>
                    <li class="breadcrumb-item"><span><i class="fa fa-bar-chart">&nbsp;</i>Reportes </span></li>
                    <li class="breadcrumb-item active"><span><i class="fa fa-table">&nbsp;</i>@ViewBag.Title </span></li>
                </ol>
            </nav>
            <h1 class="">@ViewBag.Title <small></small></h1>
        </section>
    </div>

    <div class="col-12 mt-4">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body bg-light-gray">
                        @using (Html.BeginForm("ResumenPlanilla", "Reportes", FormMethod.Get, new { id = "frmConsultaResumenPlanilla" }))
                        {
                            <div class="form-row">
                                <div class="form-group col-lg-2 col-md-4 col-6">
                                    @Html.Label("anio", "Año", new { @class = "control-label" })
                                    @Html.DropDownList("anio", ViewBag.ListaAños as SelectList, null, new { @class = "form-control" })
                                </div>

                                <div class="form-group col-lg-2 col-md-4 col-6">
                                    @Html.Label("mes", "Mes", new { @class = "control-label" })
                                    @Html.DropDownList("mes", ViewBag.ListaMeses as SelectList, null, new { @class = "form-control text-uppercase" })
                                </div>

                                <div class="form-group col-lg-3 col-md-4 col-6">
                                    <label for="idCategoria">Categoria</label>
                                    @Html.DropDownList("idCategoria", ViewBag.ListaCategoriasPlanillas as SelectList, new { @class = "form-control text-uppercase" })
                                </div>

                                <div class="form-group col-lg-2 col-4">
                                    <label>&nbsp;</label>
                                    <button type="button" class="btn btn-block btn-outline-primary" id="btnConsultar">
                                        <i class="fa fa-fw fa-search"></i> Consultar
                                    </button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="table-responsive mt-4">
            <table class="table table-hover" id="dataTablePlanilla" width="100%">
                <thead class="thead-dark">
                    <tr>
                        <th>Planilla</th>
                        <th>Año</th>
                        <th>Mes</th>
                        <th>Tip.Doc.</th>
                        <th>Num.Doc.</th>
                        <th>Apellidos y Nombres</th>
                        <th>Régimen</th>
                        <th>Remu.</th>
                        <th>Reint.</th>
                        <th>Deducc.</th>
                        <th>Bruto</th>
                        <th>Desc.</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Planilla</th>
                        <th>Año</th>
                        <th>Mes</th>
                        <th>Tip.Doc.</th>
                        <th>Num.Doc.</th>
                        <th>Apellidos y Nombres</th>
                        <th>Régimen</th>
                        <th>Remu.</th>
                        <th>Reint.</th>
                        <th>Deducc.</th>
                        <th>Bruto</th>
                        <th>Desc.</th>
                        <th>Total</th>
                    </tr>
                </tfoot>
            </table>
        </div>

        <div class="row" id="divDescargaExcel">
            <div class="col-lg-12">
                <button type="button" id="btnExcelDescargar" class="btn btn-link pl-0">Descargar información en Excel [.xlsx]</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
             generarDatatablePlanilla(null, null, null);

             $("#frmConsultaResumenPlanilla").on("change", "#anio", function () {
                let cmbDestino = $('#frmConsultaResumenPlanilla #mes');

                let url = '@Url.Action("ObtenerMesesPorAnio", "General")';

                CargarMeses(this, cmbDestino, url);
             });

            $("#frmConsultaResumenPlanilla").on("click", "#btnConsultar", function () {
                let anio = $("#frmConsultaResumenPlanilla #anio").val();
                let mes = $("#frmConsultaResumenPlanilla #mes").val();
                let idCategoria = $("#frmConsultaResumenPlanilla #idCategoria").val();

                generarDatatablePlanilla(anio, mes, idCategoria);
            });

            $(document).on("click", "#btnExcelDescargar", function (e) {
                let anio = $("#frmConsultaResumenPlanilla #anio").val();
                let mes = $("#frmConsultaResumenPlanilla #mes").val();
                let idCategoria = $("#frmConsultaResumenPlanilla #idCategoria").val();

                document.forms.frmConsultaResumenPlanilla.action = "@Url.Action("DescargaResumenPlanilla", "Reportes")";
                document.forms.frmConsultaResumenPlanilla.submit();
            });
        });

        function generarDatatablePlanilla(anio, mes, idCategoria) {
            let parametros = {
                anio: anio,
                mes: mes,
                idCategoria: idCategoria
            };

            $('#dataTablePlanilla').DataTable({
                ajax: {
                    'url': '@Url.Action("ObtenerListaTrabajadoreConPlanilla", "Reportes")',
                    'data': parametros,
                    'type': 'get'
                },
                columns: [
                    { data: 'categoriaPlanillaDesc' },
                    { data: 'anio' },
                    { data: 'mesDesc' },
                    { data: 'tipoDocumentoDesc' },
                    { data: 'numDocumento' },
                    { data: 'apellidosNombre' },
                    { data: 'regimenDesc' },
                    { data: 'totalRemuneracionFormat' },
                    { data: 'totalReintegroFormat' },
                    { data: 'totalDeduccionFormat' },
                    { data: 'totalBrutoFormat' },
                    { data: 'totalDescuentoFormat' },
                    { data: 'totalSueldoFormat' }
                ],
                columnDefs: [
                    {
                        targets: [-1, -2, -3, -4, -5, -6],
                        className: 'text-right'
                    }
                ],
                bStateSave: false,
                bDestroy: true,
                lengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "Todas"]],
                iDisplayLength: 10,
                language: {
                    search: "Buscar: ",
                    lengthMenu: "Mostrar _MENU_ filas",
                    info: "Mostrando del _START_ al _END_ de _TOTAL_ elementos.",
                    infoEmpty: "No se encontraron registros.",
                    zeroRecords: "No hay data disponible.",
                    emptyTable: "No hay data disponible.",
                    paginate: {
                        first: "Primero",
                        previous: "Previo",
                        next: "Siguiente",
                        last: "Último"
                    },
                    aria: {
                        sortAscending: ": activar para ordenar la columna en orden ascendente",
                        sortDescending: ": activar para ordenar la columna en orden descendente"
                    },
                    loadingRecords: "Cargando...",
                    processing: "Procesando..."
                },
                searching: true,
                initComplete: function () {
                    var api = this.api();

                    if (api.rows().count() > 0) {
                        $('#divDescargaExcel').css('display', 'flex');
                    } else {
                        $('#divDescargaExcel').css('display', 'none');
                    }
                }
            });
        }
    </script>
}
