@model WebApp.Models.PeriodoModel
@Scripts.Render("~/bundles/jqueryval")

<div class="modal-header bg-dark-gray" style="border-radius: .2rem .2rem 0px 0px">
    <h5 class="modal-title text-center"><i class="fa fa-tag">&nbsp;</i> @ViewBag.Title</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div>

<div class="modal-body">
    @using (Ajax.BeginForm((string)ViewBag.Action, "Periodos", new { area = "" }, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "div_msg",
        OnBegin = "Load",
        OnComplete = "Stop"
    }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.periodoID)
        <div class="form-row">
            <div class="col-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.anio, new { @class = "control-label" })
                    @Html.DropDownListFor(model => model.anio, ViewBag.ListaAños as SelectList, "[ SELECCIONAR ]", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.anio, null, new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="col-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.mes, new { @class = "control-label" })
                    @Html.DropDownListFor(model => model.mes, ViewBag.ListaMeses as SelectList, "[ SELECCIONAR ]", new { @class = "form-control text-uppercase" })
                    @Html.ValidationMessageFor(model => model.mes, null, new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row d-flex justify-content-center">
            <button type="submit" class="btn btn-primary center" id="btnsubmit"><i class="fa fa-save"></i> Guardar</button>
        </div>
    }
</div>

<div class="modal-footer" id="div_msg">
    <div class="col-md-12" style="display:none" id="loading">
        <h6>Espere un momento...</h6>
        <div class="progress">
            <div class="indeterminate"></div>
        </div>
    </div>

    <button type="button" class="btn btn-secondary" id="btnCancel" data-dismiss="modal">
        <i class="fa fa-times-circle-o"></i> Cerrar
    </button>
</div>

<script type="text/javascript">
    modalActivo = "modal-periodo";
</script>
