<div class="container-fluid">
    <div class="col-12 mb-4">
        <section class="content-header">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb float-right small d-none d-sm-inline-flex">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")"><i class="fa fa-home">&nbsp;</i>Inicio</a></li>
                    <li class="breadcrumb-item"><span><i class="fa fa-cogs" aria-hidden="true">&nbsp;</i>Configuración </span></li>
                    <li class="breadcrumb-item active"><span><i class="fa bi-stack">&nbsp;</i>@ViewBag.Title </span></li>
                </ol>
            </nav>
            <h1 class="">@ViewBag.Title <small></small></h1>
        </section>
    </div>

    <div class="card mb-4">
        <div class="card-header">
            <span class="h4">Periodos</span>
            <a href="@Url.Action("NuevoAnio", "Periodos")" class="btn btn-primary pull-right modal-link">
                <i class="fa fa-plus-circle" aria-hidden="true"></i> Nuevo año
            </a>
            <a href="@Url.Action("Nuevo", "Periodos")" class="btn btn-primary pull-right modal-link mr-1">
                <i class="fa fa-plus-circle" aria-hidden="true"></i> Nuevo periodo
            </a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover" id="dataTablePeriodos" width="100%">
                    <thead class="thead-dark">
                        <tr>
                            <th>Año</th>
                            <th>Mes</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Año</th>
                            <th>Mes</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        var modalActivo = null;

        $(document).ready(function () {
            generarDataTablePeriodos();

            $(".modal").on('hide.bs.modal', function () {
                if (modalActivo === "modal-periodo") {
                    generarDataTablePeriodos();
                }
            });

            $('#dataTablePeriodos').on('click', '.btn-eliminar', function (event) {
                event.preventDefault();

                let id = $(this).data("id");
                let token = $('input[name="__RequestVerificationToken"]').val();

                Swal.fire({
                    title: '',
                    text: '¿Desea eliminar este registro?',
                    icon: MENSAJE.WARNING,
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Si, continuar.',
                    cancelButtonText: 'No, cancelar.'
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            url: '@Url.Action("Eliminar", "Periodos")/' + id,
                            type: "POST",
                            data: { __RequestVerificationToken: token },
                            beforeSend: function () {
                            },
                            success: function (data) {
                                if (data.Success) {
                                    mostrarMensajeSistema(data.Message, MENSAJE.SUCCESS);
                                    generarDataTablePeriodos();
                                } else {
                                    mostrarMensajeSistema(data.Message, MENSAJE.ERROR);
                                }
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                toastr.error(errorThrown);
                            }
                        });
                    }
                });
            });
        });

        function generarDataTablePeriodos() {
            $('#dataTablePeriodos').DataTable({
                ajax: {
                    'url': '@Url.Action("ObtenerListaPeriodos", "Periodos")',
                    'type': 'get'
                },
                columns: [
                    { data: 'anio' },
                    { data: 'mesDesc' },
                    { data: 'periodoID', width: '5%' },
                    { data: 'periodoID', width: '5%' }
                ],
                columnDefs: [
                    {
                        targets: 0,
                        orderable: false
                    },
                    {
                        targets: 1,
                        orderable: true
                    },
                    {
                        targets: 2,
                        className: "text-center",
                        orderable: false,
                        render: function (data, type, row) {
                            return `<a class="modal-link" href="@Url.Action("Editar", "Periodos")/${data}` +
                                '" title="Editar"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>';
                        }
                    },
                    {
                        targets: 3,
                        className: "text-center",
                        orderable: false,
                        render: function (data, type, row) {
                            return `<a class="btn-eliminar" href="#" data-id="${data}"` +
                                '" title="Eliminar"><i class="fa fa-trash" aria-hidden="true"></i></a>';
                        }
                    }
                ],
                bStateSave: true,
                bDestroy: true,
                lengthMenu: [[6, 12, 24, -1], [6, 12, 24, "Todas"]],
                iDisplayLength: 12,
                language: {
                    search: "Buscar: ",
                    lengthMenu: "Mostrar _MENU_ filas",
                    info: "Mostrando del _START_ al _END_ de _TOTAL_ elementos.",
                    infoEmpty: "No se encontraron registros.",
                    zeroRecords: "No hay data disponible.",
                    emptyTable: "No hay data disponible.",
                    paginate: {
                        first: "Primero",
                        previous: "Previo",
                        next: "Siguiente",
                        last: "Último"
                    },
                    aria: {
                        sortAscending: ": activar para ordenar la columna en orden ascendente",
                        sortDescending: ": activar para ordenar la columna en orden descendente"
                    },
                    loadingRecords: "Cargando...",
                    processing: "Procesando..."
                },
                searching: true,
                initComplete: function () {
                    this.api().columns([0]).every(function () {
                        let column = this;

                        let select = document.createElement('select');
                        select.add(new Option('Año', ''));
                        column.footer().replaceChildren(select);

                        select.addEventListener('change', function () {
                            var val = $.fn.dataTable.util.escapeRegex(select.value);
                            column.search(val ? '^' + val + '$' : '', true, false).draw();
                        });

                        column.data().unique().sort().each(function (d, j) {
                            if (column.search() === '^' + d + '$') {
                                select.add(new Option(d, d, true, true));
                            } else {
                                select.add(new Option(d, d));
                            }
                        });

                        $(select).click(function (e) {
                            e.stopPropagation();
                        });
                    });
                }
            });
        }
    </script>
}