@model Domain.Helpers.Response

<div class="modal-header bg-dark-primary" style="border-radius: 5px 5px 0px 0px">
    <h4 class="modal-title">Reestablecimiento de contraseña</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div>

<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                @if (Model.Success)
                {
                    <div class="row alert alert-@Model.Color">
                        <p><b><i class="fa @Model.Icon">&nbsp;</i>Restablecimiento de contraseña</b></p>
                        <p>Por favor, tome nota de la contraseña y entréguela al usuario correspondiente.</p>
                        <ul class="pull-left">
                            <li class="text-left">El Nombre de usuario es: <b>@ViewBag.UserName</b></li>
                            <li class="text-left">La nueva contraseña es: <b>@Model.Message</b> </li>
                        </ul>
                    </div>
                }
                else
                {
                    <div class="alert alert-@Model.Color">
                        <p><b><i class="fa @Model.Icon">&nbsp;</i>Restablecimiento de contraseña</b></p>
                        <p>@Model.Message</p>
                    </div>
                }
            </div>
        </div>
    </div>
</div>